// orange
:root {
  --primary: var(--orange);
  --primary-50: var(--orange-50);
  --primary-100: var(--orange-100);
  --primary-200: var(--orange-200);
  --primary-300: var(--orange-300);
  --primary-400: var(--orange-400);
  --primary-800: var(--orange-800);

  --primary-hsl: var(--orange-500-hsl);
  --primary-50-hsl: var(--orange-50-hsl);
  --primary-100-hsl: var(--orange-100-hsl);
  --primary-200-hsl: var(--orange-200-hsl);
  --primary-300-hsl: var(--orange-300-hsl);
  --primary-800-hsl: var(--orange-800-hsl);
}
